#komparator .lCorpus-line-top, .lCorpus-line-bottom {
  stroke: #DCEDC8;
}

#komparator .rCorpus-line-top, .rCorpus-line-bottom {
  stroke: #B3E5FC;
}


#komparator .token {
  cursor: pointer;
}


#komparator .token rect {
  fill: #F5F5F5;
}

#komparator .token.left rect {
  fill: #DCEDC8;
}

#komparator .token.right rect {
  fill: #B3E5FC;
}

#komparator .node-text {
  font-family: sans-serif;
  font-weight: 400;
  fill: black;
  /*font-variant:small-caps;*/
}

#komparator .token.active .node-text {
  fill: black;
  font-weight: 800;
  text-transform: uppercase;
}


#komparator .token.active .node-bg {
  /*fill:goldenrod;*/
  opacity:0.85;
}
